@font-face {
    font-family: "Alata";
    src: url("../../assets/fonts/Alata-Regular.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../../assets/fonts/Montserrat-Regular.ttf");
}