.navigation-panel__header {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #212121;
    font: 25px / 20px "Alata";
    color: #fff;
}